{"openapi":"3.0.1","info":{"title":"MoodiQuest API","description":"API для MoodiQuest микросервиса","version":"1.0"},"servers":[{"url":"https://moodiquest.online"}],"paths":{"/quests/update/{id}":{"put":{"tags":["main-methods"],"summary":"Обновить квест по ID","description":"Обновляет существующий квест по идентификатору.","operationId":"updateQuest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Quest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/suggestMe/load":{"post":{"tags":["suggestion-methods"],"summary":"Загрузка предложенного квеста","description":"Сохраняет новый предложенный квест в базе данных через RabbitMQ и возвращает его.","operationId":"loadSuggestedQuests","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSuggestedQuest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSuggestedQuest"}}}}}}},"/quests/add":{"post":{"tags":["main-methods"],"summary":"Добавить новый квест","description":"Добавляет новый квест в базу данных.","operationId":"addQuest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Quest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/suggestMe/all":{"get":{"tags":["suggestion-methods"],"summary":"Получение всех предложенных квестов","description":"Возвращает список всех предложенных квестов, сохраненных в базе данных через RabbitMQ.","operationId":"getAllSuggestedQuests","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSuggestedQuest"}}}}}}}},"/quests/{id}":{"get":{"tags":["main-methods"],"summary":"Получить квест по ID","description":"Возвращает квест из базы данных по указанному идентификатору. ID передается в запросе как путь параметра.","operationId":"getQuestById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestDTO"}}}}}}},"/quests/testError":{"get":{"tags":["main-methods"],"summary":"Тестовый метод, который всегда возвращает ошибку 500","description":"Этот метод возвращает HTTP статус 500 для тестирования обработки ошибок.","operationId":"testError","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/quests/random":{"get":{"tags":["main-methods"],"summary":"Получить случайный квест","description":"Возвращает случайный квест из базы данных.","operationId":"getRandomQuest","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Quest"}}}}}}},"/quests/makeCoffee":{"get":{"tags":["main-methods"],"summary":"✨Попытка сделать кофе ✨","description":"Эндпоинт возвращает HTTP статус 418 (I'm a teapot) с сообщением о том, что сервер — это чайник и не может приготовить кофе. ☕️","operationId":"makeCoffee","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/quests/daily":{"get":{"tags":["main-methods"],"summary":"Возвращает три случайных квеста из БД","description":"Этот метод возвращает три случайных квеста, которые были выбраны из базы данных. Эти квесты обновляются ежедневно и могут быть использованы для выполнения в течение дня.Ответ кэшируется в Redis на 1 минуту ","operationId":"getDailyQuests","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quest"}}}}}}}},"/quests/delete/{id}":{"delete":{"tags":["main-methods"],"summary":"Удалить квест по ID","description":"Удаляет существующий квест по идентификатору.","operationId":"deleteQuest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"Quest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"shortName":{"type":"string"},"description":{"type":"string"},"progressNumber":{"type":"integer","format":"int32"}}},"UserSuggestedQuest":{"type":"object","properties":{"userName":{"type":"string"},"quest":{"type":"string"}}},"QuestDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"shortName":{"type":"string"},"description":{"type":"string"},"progressNumber":{"type":"integer","format":"int32"}}}}}}